.active {
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}
nav .btn {
  background-color: white !important;
  color: black;
}
nav .btn:hover {
  background-color: orangered !important;
  color: white !important;
}
.form-control {
  margin-bottom: 20px;
}
